/* Custom styles for the navbar */
.navbar-dark {
    background-color: #343a40;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-right: 20px;
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: goldenrod;
}

/*Parralax BG*/
.parallax-slider {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-slider img {
    width: 100%;
    background-attachment: fixed !important;
    background-position: center;
    background-size: cover;
}

.content {
    background-color: white;
    position: absolute;
}